$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.calendar-month-header {
  display: flex;
  justify-content: space-around;
}

.calendar-month-row {
  display: flex;
  justify-content: space-around;
}

.calendar-row-content {
  flex: 1;
}

.calendar-days-content {
  min-height: 50px;
}

.center {
  text-align: center;
}

.calendar-days-header,
.calendar-blank-days,
.calendar-days {
  border: 1px solid #90A4AE;
}


.calendar-blank-days,
.calendar-days {
  //height: 7em;
  //width: 10em;
}

.calendar-blank-days {

}
.calendar-days {

}

.calendar-days-tr-up {
  text-align: right
}

.calendar-days-tr-up {
  font-weight: bold;
  font-size: 1.5em;
}

.calendar-days-header {
  //height: 2.5em;
  //width: 10em;
}