html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.productsTable {
  overflow: auto;
}

#searchInput {
  margin: auto;
}

.link-active {
  color: darkred;
  text-decoration: none;
}

.sidebar {

  background-color: #ffcdd2;
  color: #212121;
  height: 100%;
  float: left;
}

.navbar {
  margin-bottom: 0px;
}

.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

div.app {
  height: auto;
}

div.no-float {
  float: none;
}

.container-fluid > .navbar-header {
  margin-right: 0px;
  margin-left: 15px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}


/*
#input-form-navbar {
  display:block;
  float:left;
  width:150px;
}

#button-form-navbar  {
  float: left;
}


.nav td div{
  text-align: center;
  vertical-align: middle
}*/
