/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

a {
  color: #00B7FF;
}

.productsTable {
  overflow: auto;
}

#searchInput {
  margin: auto;
}

.link-active {
  color: darkred;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.green {color: #4CAF50;}
.yellow {color: #ffc107;}
.orange {color: #ff9800;}
.red {color: #F44336;}

.sub-bar {
  background: #E0E0E0;
  height: 90px;
}

.sub-bar-component {
  padding-top: 15px;
}

.navigation-sub-row {
  margin-top: 5px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

li.tag {
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
  background: #a0cfee;
  color: #16527a;
}
li.tag:hover {
  cursor: pointer;
  background: #8bc4ea;
}

li.model-tag {
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
  background: #e53935;
  color: #ffebee;
}

span.inline {
  background-color:red;
  display:inline;
}
/*.sidebar {

  background-color: #ffcdd2;
  color: #212121;
  height: 100%;
  float: left;
}

.navbar {
  margin-bottom: 0px;
}

.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

div.app {
  height: auto;
}

div.no-float {
  float: none;
}*/

.container-fluid > .navbar-header {
  margin-right: 0px;
  margin-left: 15px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}


/*
#input-form-navbar {
  display:block;
  float:left;
  width:150px;
}

#button-form-navbar  {
  float: left;
}


.nav td div{
  text-align: center;
  vertical-align: middle
}*/

/* autosuggest css */

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 51px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
  border-top: 0;
}

.react-autosuggest__section-suggestions-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*#app {*/
  /*!*display: flex;*!*/
  /*!*align-items: flex-start;*!*/
/*}*/

/*.container {*/
  /*width: 330px;*/
  /*color: #000;*/
  /*background-color: #6D86ED;*/
  /*margin-right: 40px;*/
/*}*/

/*.suggestionsContainer {*/
  /*background-color: #F2D8D7;*/
/*}*/

/*.suggestion {*/
  /*background-color: #FBF9FF;*/
  /*margin-top: 15px;*/
/*}*/

/*.sectionContainer {*/
  /*background-color: #A28EED;*/
  /*margin-top: 15px;*/
/*}*/

/*.sectionTitle {*/
  /*background-color: #BAADED;*/
  /*margin-top: 15px;*/
/*}*/

/*.sectionSuggestionsContainer {*/
  /*background-color: red;*/
  /*margin-top: 15px;*/
/*}*/

/*li.react-autosuggest__suggestion {*/
  /*list-style: none;*/
/*}*/
